body {
    background-image: url("https://estrela.vteximg.com.br/arquivos/ids/169576-500-500/100558753_EST-01.jpg?v=637732108439100000");
}

h1 {
    font-family: 'Courier New';
    color: white;
    margin-left: 40px;
}

p {
    color: whitesmoke;
}
